html {
	background-color: aliceblue;
}

body {
	margin: 0;
}

nav {
	background-color: white;
}

nav ul {
	display: flex;
	justify-content: flex-end;
}

nav ul li {
	list-style: none;
	margin: 20px 12px;
}

nav ul li a {
	text-decoration: none;
	color: #000000;
	text-transform: uppercase;
	padding: 6px;
}

nav ul li a:hover {
	background-color: aliceblue;
}

section {
	margin: 20px;
}

form {
	background-color: white;
}

form input {
	width: 100%;
	margin-bottom: 16px;
}

form input[type="submit"] {
	margin: 0;
	background-color: green;
	color: white;
	text-transform: uppercase;
	text-align: center;
	border-style: solid;
}

/* tambahkan CSS untuk section profile disini */
#profile {
	display: flex;
	background-color: white;
}

h2 {
	font-size: 12px;
	color: grey;
}

img {
	border-radius: 50%;
	border-style: solid;
	border-color: orange;
}

.profile-photo {
	margin: 20px;
}

tr {
	line-height: 50px;
}

.profile-text {
	margin-top: 20px;
}

table {
	margin-left: 30px;
}

td.data {
	padding-right: 20px;
	font-weight: bold;
}

.btn-kontak {
	background-color: blue;
	color: white;
	border-radius: 8px;
	border-style: none;
	width: 70px;
	height: 40px;
}

.btn-resume {
	border-style: solid;
	color: rgb(66, 200, 79);
	border-radius: 8px;
	width: 90px;
	height: 40px;
	border-color: rgb(66, 200, 79);
	background-color: white;
}
